*,*::before, *::after{
	box-sizing: border-box;
	font-family: arial;
}
body{
	background: #333;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
	margin: 0;
	font-size: 7.5vmin;
}
#game-board{
	--grid-size: 4;
	--cell-size: 20vmin;
	--cell-gap: 2vmin;
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	background: #ccc;
	gap: var(--cell-gap);
	border-radius: 1vmin;
	padding: 2vmin;
	position: relative;
}

.cell{
	background: #aaa;
	border-radius: 1vmin;
}

.tile{
	
}